body{
	background: url("pexels-josh-sorenson-995301.jpg");
	background-size: cover;
	
	background-attachment: fixed;
}

html,body{
	height: 93%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.key{
	transition: all 0.1s;
	width: 6rem;
	height: 6rem;
	border: 4px solid rgb(41, 41, 41);
}

.boom{
	transform: scale(2);
	border-color: rgb(152, 211, 43);
}

.name{
	text-align: center;
	font-size: 3rem;
	text-decoration: underline;
	color: rgb(9, 71, 73);
}
